
.corpo {
  align-content: center;
  background: #d2d2c1 url("imagens2/fundo.png");
  font: 16px Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  
  margin-left: 10%;
  margin-right: 10%;

}
.capa {
  width: 80%;border-radius: 10px;
}

.principal {
  color: #828271;
  box-sizing: border-box;
  width: 80%;
  background: #e8e8d9;
  padding: 10px;
  border-radius: 10px;
}

.rodape {
  background-color: #d2d2c1;
  color: #71827d;
  text-align: center;
  box-sizing: border-box;
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  
}

.titulo {padding-bottom: 5px;}
/*MENU*/
.menu {
  width: 80%;
  border-radius: 10px;
  background-color: #d2d2c1;
  padding: 30px 8% px;
}
.menu ul { list-style: none; display: flex;
  flex-wrap: nowrap; padding: 20px; }
.menu li {float: left; }
.menu li a {color: #f3f3e5; margin-right: 23px; text-decoration: none; }
.menu li a:hover{ color: #828271;}

.contato {width: 52px; }
.conteudo {padding: 10px; }
.img-campanha {width: 50%; padding: 12px; border-radius: 5%;}

/*Responsividade*/
@media screen and (max-width: 768px){

  .corpo {
    background: #d2d2c1 url("imagens2/fundo.png");
    font: 16px Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    
    margin-left: 2%;
    margin-right: 2%;
  
  }
  .capa {
    width: 96%;
  }
  
  .principal {
    color: #828271;
    box-sizing: border-box;
    width: 96%;
    background: #e8e8d9;
    padding: 10px;
    
  }
  
  .rodape {
    color: #828271;
    text-align: center;
    box-sizing: border-box;
    width: 96%;
    padding: 10px;
    
  }

  .menu {
    width: 96%;
  }

}

@media screen and (max-width: 430px){

  .corpo {
    background: #d2d2c1 url("imagens2/fundo.png");
    font: 16px Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    
    margin-left: 0%;
    margin-right: 0%;
  
  }
  .capa {
    width: 100%;
  }
  
  .principal {
    color: #828271;
    box-sizing: border-box;
    width: 100%;
    background: #e8e8d9;
    padding: 10px;
    
  }
  
  .rodape {
    color: #828271;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    
  }

  .menu {width: 100%;}
  .menu ul {flex-direction: column; align-items: center;}
  .menu li { padding: 5px;}
  .img-campanha {width: 100%; padding: 2px; border-radius: 5%;}


}
  



